.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(27, 141, 207);
}

.navbar-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.dataGridDarkMode{
  background-color:#585858;
}
.dataGridHeaderClassDarkMode{
  color:white;
  font-weight: bold;
}
.dataGridCellClassDarkMode{
  color:white;
}